header, ul.menu, div.dropdown
{
	background-color:rgb(34,55,89);
}

div.menu-content ul.menu li a, div.menu-content ul li div.dropdown a
{
	color:white;
}

div.menu-content ul li:hover,div.menu-content ul li div.dropdown a:hover
{
	color:black;
	background-color:white;
}

div.menu-content ul li:hover a
{
	color:black;
}

body
{
	font-family:'Lato', sans-serif;
	margin:0px;
}

@media (max-width:799px)
{
	div.menu-content
	{
		margin-right:10px;
		margin-top:10px;
		display:inline-block;
	}
	
}